@import url(./Constantes.css);

/*Estilos generales*/
.yt .content h2 {
  font-size: 15pt;
  color: var(--black);
  font-weight: 900;
  margin-bottom: 5pt;
  line-height: 25pt;
  font-family: "Montserrat";
}
.yt .content h3 {
  font-size: 12pt;
  font-weight: lighter;
  color: var(--black);
}
.yt .content p {
  color: var(--black);
  font-weight: 200;
}

/*Estilos de cuadro de busqueda*/

.yt .searchBox {
  margin-bottom: 20pt;
  border: solid 1pt;
  padding: 20pt;
  border-radius: 5pt;
}
.yt .searchBox #inputSearch {
  border-radius: 5pt;
  width: 100%;
}
.yt .searchBox #search {
  background-color: var(--haed);
  width: 100%;
  color: var(--white);
  border-radius: 5pt;
  margin-top: 5pt;
}

/*Estilos de botones de anterior/siguiente*/

.yt #anterior {
  border-radius: 5pt;
  background-color: var(--haed);
  color: var(--white);
  margin-bottom: 30pt;
  width: 80pt;
  height: 30pt;
  border: none;
  padding: 5pt;
  text-decoration: none;
}

.yt #anterior:hover {
  background-color: green;
  text-decoration: none;
}

.yt #siguiente {
  border-radius: 5pt;
  background-color: var(--haed);
  color: var(--white);
  margin: 10pt;
  width: 80pt;
  height: 30pt;
  border: none;
  padding: 5pt;
  text-decoration: none;
}

.yt #siguiente:hover {
  background-color: green;
  text-decoration: none;
}
