@import url(./Constantes.css);

.compara select{
    border-top-left-radius: 5pt;
    border-top-right-radius: 5pt;
    background-color: var(--light-haed);
    color:white;
    height: 5%;
    width: max-content;    
    font-size: large;
    font-family: 'Montserrat';
    margin-bottom: 2%;
}

.compara li{
    list-style: none;
    margin-bottom: 3%;
    font-family: 'Montserrat';
    text-align: justify;
    border-bottom: solid 1px var(--haed);
    padding: 1%;

}

.compara #leftColumn{
    border: solid 3px var(--haed);
    border-radius: 10pt;
    padding:2%;
    margin: 1%;
    box-shadow: 0 5px 9px rgba(0, 70, 55, 0.582);
    max-height: 50%;
    overflow-y: auto;

}

.compara #rightColumn{
    border: solid 3px var(--haed);
    border-radius: 10pt;
    padding:2%;
    margin: 1%;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.774);
    max-height: 100%;
    overflow-y: auto;

}