:root {
  --haed: #006d77;
  --titulos: #042c2c;
  --light-b-haed: #004757;
  --light-haed: #185f3f;
  --gray-haed: #808080;
  --non-white-haed: #f5f5f5;
  --non-black-haed: #16161a;
  --cabecera: #039eac;
  --black: #242424;
  --white: #ffffff;
  --const-white: #ffffff;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-size: clamp(1.6em, 4vw, 6em) !important;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}
h2 {
  font-size: clamp(1.5em, 3.7vw, 5.5em) !important;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}
h3 {
  font-size: clamp(1.3em, 2.5vw, 4em) !important;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}
h4 {
  font-size: clamp(1.2em, 1.8vw, 2.5em) !important;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}
h5 {
  font-size: clamp(1em, 1.6vw, 1.5em) !important;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}
h6 {
  font-size: clamp(1em, 1.3vw, 1.1em) !important;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}
p {
  font-size: clamp(1em, 1.3vw, 1.1em) !important;
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif !important;
}
