:root{
    --haed:#006D77;
    --titulos:#042c2c;
    --light-b-haed:#004757;
    --light-haed:#2c8f62;
    --gray-haed:#808080;
    --non-white-haed:#f5f5f5;
    --non-black-haed:#16161a;
    --cabecera:#039eac;
    --black:#242424;
    --white:#ffffff;
    --const-white:#ffffff;

    
}
@font-face{
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}