@import url(./Constantes.css);

/*Estilos generales*/

.foot div.row {
  margin-right: 0px;
}

.foot div.container-fluid {
  padding-right: 0px;
}

.foot footer {
  background-color: var(--haed);
  padding: 10pt;
}

.foot p {
  font-family: "Montserrat", sans-serif;
  color: var(--const-white);
  line-height: 21pt;
  font-weight: 400;
  -ms-word-break: break-all;
  word-break: break-all;

  word-break: break-word;
font-size: 100%;
-webkit-hyphens: auto;
-moz-hyphens: auto;
 -ms-hyphens: auto;
     hyphens: auto;
}
.foot a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
}
.foot a:hover {
  text-decoration: underline;
  color: white;
}
.foot h5 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 10pt;
  font-weight: bold;
}

/*Apartado de links columna central izquierda*/
/*Apartado de links columna central derecha*/
.foot ul {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  padding-left: 0;
  line-height: 30pt;
  color: white;
}
.foot ul li Link{
  color:white;
}

/*Contacto*/
.foot #correos {
  text-transform: capitalize;
  color: #ffffff;
  font-size: x-large;
  font-weight: 500;
  font-weight: bold;
}
.foot #electronicos {
  color: var(--black);
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bold;
}
/*Parte inferior del footer*/

.foot #footer-bottom {
  border: 10pt;
  border-color: var(--black);

  padding-top: 10pt;
}

.foot .icon  {
  color: white;
  margin-left: 1%;
}

.foot .icon:hover {
  cursor: pointer;
  text-decoration: none;
  color: yellow;
}
