@import url("./Constantes.css");

.graficas{
    padding-top: 5%;
    padding-bottom: 5%;
}
.graficas .evContestadas{
    display: grid;
    place-items: center;
    max-width: 100%;
    width: 50%;
    
}
.graficas #menuOpciones{
    margin-bottom: 2%;
    margin-top: 5%;
}
.graficas #head{
    background-color: var(--haed);
    color:white;
}
.graficas #menu{
    background-color:white;
}

.graficas #opcion:hover{
background-color: var(--light-haed);
color: white;
}
.graficas #respuestas{
    width: 15%;
}

.graficas #volver {
    padding: 1%;
    background-color: var(--light-haed);
    color: white;
    border: none;
    font-weight: bolder;
    font-family: "Montserrat";
    height: max-content;
    border-radius: 5pt;
    margin-bottom: 1%;
  }
  
  .graficas #volver:hover {
    background-color: var(--titulos);  
  }