@import url(./Constantes.css);

/*Estilos generales*/
._navbar div.row{
margin: 0;
}
._navbar{
  position: sticky;
  top: 0;
  z-index:999;
}
._navbar .nav {
  position: sticky;
  top: 0;
  background-color: var(--white);
}

/*Imagenes*/
._navbar .imagen {
  max-width: 100px;
}
/*Links*/

#links {
  text-align: left;
  color: var(--black);
  font-weight: lighter;
  font-family: "Montserrat";
  text-decoration: none;
  padding: 8pt;
  padding-top: 4px;
  padding-bottom: 5px;
  border-radius: 20px;
}

#collapse {
  text-align: right;
  align-items: end;
}

/*Estilos NavLink Acitvo */
#links.active {
  color: white;
  background: var(--haed);
}
.me-auto.navbar-nav {
  margin: auto;
}
