@import url(./Constantes.css);

.barContains div.row {
  margin: 0;
}
.barContains {
  background-image: url("../imagenes/papel_arrugado.avif");
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-blend-mode: multiply;
  background-color: var(--haed);
  padding-top: 3%;
  padding-bottom: 3%;
}
.barContains h2 {
  color: white;
  font-family: "Montserrat";

}
