@import url(./Constantes.css);
.profile .card .list-group-item{
  background-color: var(--non-white-haed);
  color: var(--black);
}
.profile .card .list-group-item span{

  color: var(--black);
}
.profile .user-box img {
  border-radius: 50%;
  padding: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.profile .z-depth-3 {
  -webkit-box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19),
    0 13px 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

.profile .profile-card-4 .user-box {
  width: -webkit-fill-available;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* Tarjeta de datos del usuario con imagen */
.profile .profile-card-4 .list-icon {
  display: table-cell;
  font-size: 30px;
  padding-right: 20px;
  vertical-align: middle;
  color: #223035;
}

.profile .profile-card-4 .list-details {
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
  color: #223035;
  font-size: 15px;
  line-height: 15px;
}

.profile .profile-card-4 .list-details small {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  color: #808080;
}
.profile .opcionesMenu{
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

body {
  overflow-x: hidden;
}
.profile{
  background-color: var(--white);
  padding-top: 5%;
  padding-bottom: 5%;
}

.profile h3{
  color: var(--black);
  font-family: 'Montserrat';
}
.profile .fa:hover {
  color: var(--light-haed);
}
.profile .icon {
  color: white;
}

.profile .icon:hover {
  color: var(--light-haed);
}

.profile .opcionRow{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
.profile #opcion {
  display: inline-block;
  height: 80%;
  font-size: 3vh;
  border: none;
  border-radius: 5pt;
  background: linear-gradient(180deg, #006d77, #02554f);
  color: white;
  padding: 6%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  text-decoration: none;
  font-family: "Montserrat";
  justify-content: space-between;
}
.profile #opcion:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.profile #opcion::after {
  content: "";
  background: linear-gradient(0deg, #006d77, #012e2b);
  background-blend-mode: multiply;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -100%;
  right: 100%;
  bottom: 0;
  top: 0;
}
.profile #opcion:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  cursor: pointer;
}

.profile .btnContainer {
  margin-bottom: 2%;
  text-align: center;
}
