@import url("../estilos//Constantes.css");
.retrA div.row{
  margin: 0;
}
.retrA{
  background-color: var(--white);
  padding-top: 5%;
  padding-bottom: 5%;
}
.retrA h5{
  color: var(--black);
}
.retrA li {
  list-style: none;
  border-radius: 5pt;
  margin: 2%;
  border-bottom: solid 2px var(--light-b-haed);
  padding: 1%;
  font-family: "Montserrat";
  text-align: justify;
  color: var(--black);
}

.retrA #goTo{
  background-color: var(--light-b-haed);
  border-radius: 5pt;
  display: box;
  border: 1px solid var(--haed);
  margin-top: 1%;
  margin-bottom: .5%;
  color: white;
  width: 30vw;
  height: max-content;
}
.retrA #goTo:hover{
  background-color: var(--light-haed);
}
.retrA .hand {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: xx-large;
  color: var(--haed);
}

.retrA #end {
  padding: 10pt;
  margin-top: 50pt;
  margin-right: 1%;
  padding-left: 15pt;
  padding-right: 15pt;
  background-color: var(--light-haed);
  color: white;
  border: none;
  font-weight: bolder;
  font-family: "Montserrat";
  height: max-content;
  border-radius: 5pt;
  margin-bottom: 5%;
}

.retrA #end:hover {
  background-color: var(--titulos);  
}
