@import url("../estilos//Constantes.css");

.infoUsers{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--white);
}

.infoUsers table{
  background-color: var(--non-white-haed);  
}
.infoUsers table th {
  background-color: var(--haed);
  color: white;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.infoUsers table td {
  width: auto;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid var(--non-black-haed);
  color: var(--black);
}
.infoUsers table tr:hover {
  width: auto;
  background-color: var(--blue);
  color: black;
}
.infoUsers table {
  width: 80%;
  justify-content: center;
  align-self: center;
}

.infoUsers .tableContainer {
  display: grid;
  place-items: center;
  max-width: 100%;
  overflow-x: auto;
}
.infoUsers #delete {
  background-color: red;
  color: white;
  border-radius: 5pt;
  padding: 5pt;
}
.infoUsers #delete:hover {
  cursor: pointer;
  background-color: darkred;
  transition: 0.15s;
  transform: scale(1.2);
}

.infoUsers #edit {
  background-color: orange;
  color: white;
  border-radius: 5pt;
  padding: 5pt;
}
.infoUsers #edit:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
  transition: 0.15s;
  transform: scale(1.2);
}


